$brand-image-max-width: 2rem;
$brand-image-width: 100%;

.navbar {
    @include flexbox(row, null, center, nowrap);
    padding: 1rem 0;
    gap: 1.25rem;


    &__brand {
        img {
            max-width: $brand-image-max-width;
            width: $brand-image-width;
        }
    }

    &__link {
        li {
            display: inline-block;
            list-style: none;
            padding: 0 1em;
        }

        a {
            text-decoration: none;
            font-family: $font-secondary;
            color: $nav-color-text;
            font-size: $nav-size-text;
            transition: color 0.5s ease;

            &:hover {
                color: $nav-color-hover;
            }
        }
    }

    &__button {
        width: 100%;
        max-width: 21.875rem;
        @include flexbox(row, null, center, null);
        gap: 1.25rem;
    }
}