@mixin flexbox($direction: row, $justify: space-between, $align: center,$wrapper: wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrapper;
}

@mixin box-styles($width, $height, $position: static, $left: auto, $bottom: auto, $top: auto, $right: auto, $background-color: transparent) {
    width: $width;
    height: $height;
    position: $position;
    left: $left;
    bottom: $bottom;
    top: $top;
    right: $right;
    background-color: $background-color;
  }