@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.header .image {
  width: 100%;
  max-width: 53.125rem;
  position: relative;
}
.header .image img {
  width: 100%;
  max-width: 53.125rem;
}
.header .title {
  width: 31.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .title h1 {
  color: #000000;
  font-family: "PT Mono", serif;
  font-size: 4.375rem;
  font-weight: 400;
}
.header .title h2 {
  font-size: 1.875rem;
}

.contact {
  display: flex;
  flex-direction: row;
}
.contact__content {
  width: 100%;
  height: auto;
  max-width: 50.625rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact__content .information {
  width: 18.6rem;
  height: auto;
  padding: 0 0.3rem;
}
.contact__content .information__title {
  font-family: "PT Mono", serif;
  font-size: 1.875rem;
  font-weight: 400;
}
.contact__content .map {
  z-index: 1;
}
.contact__content .map img {
  width: 100%;
  max-width: 24rem;
  height: auto;
}
.contact__image {
  width: 26.875rem;
  position: relative;
}
.contact__image .image__main {
  width: 100%;
  max-width: 26.875rem;
  height: 15.625rem;
}
.contact__image .image__secondary {
  width: 6.25rem;
  height: 9.375rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -10%;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 80rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 1.25rem;
}
.navbar__brand img {
  max-width: 2rem;
  width: 100%;
}
.navbar__link li {
  display: inline-block;
  list-style: none;
  padding: 0 1em;
}
.navbar__link a {
  text-decoration: none;
  font-family: "PT Mono", serif;
  color: #989797;
  font-size: 1rem;
  transition: color 0.5s ease;
}
.navbar__link a:hover {
  color: #454545;
}
.navbar__button {
  width: 100%;
  max-width: 21.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.button {
  width: 100%;
  height: 100%;
  max-width: 12.5rem;
  max-height: 2rem;
  font-family: "PT Mono", serif;
  font-size: 1rem;
  word-break: break-all;
}
.button__primary {
  border: 1px solid #989797;
  padding: 5px;
  background-color: #FFF;
  color: #989797;
  transition: color 0.5s ease, border 0.5s ease;
}
.button__primary:hover {
  color: #454545;
  border: 1px solid #454545;
}
.button__secondary {
  border: none;
  padding: 6px;
  background-color: #4CA866;
  color: #FFF;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.button__secondary:hover {
  color: #454545;
  background-color: #9DCFAB;
}

.image__box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 28.125rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  text-align: center;
  background-color: #FFF;
}
.image__box .box {
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  max-width: 8.125rem;
  max-height: 6.563rem;
}
.image__box .box__number {
  font-family: "PT Mono", serif;
  font-size: 2.5rem;
}

.box__yellow {
  width: 6.563rem;
  height: 6.563rem;
  position: absolute;
  left: 0;
  bottom: 0;
  top: auto;
  right: auto;
  background-color: #F1DD7B;
}

.box__orange {
  width: 6.563rem;
  height: 6.563rem;
  position: absolute;
  left: -20px;
  bottom: 20px;
  top: auto;
  right: auto;
  background-color: #E4572E;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #FFF;
}

.box__blue {
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  max-width: 25em;
  max-height: 12.5em;
  width: 100%;
  height: 100%;
  position: absolute;
  left: auto;
  bottom: auto;
  top: 0;
  right: 0;
  background-color: #3C91E6;
}/*# sourceMappingURL=main.css.map */