@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.header .image {
  width: 100%;
  max-width: 53.125rem;
  position: relative;
}
.header .image img {
  width: 100%;
  max-width: 53.125rem;
}
.header .image__content {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 28.125rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  text-align: center;
  background-color: #FFF;
}
.header .image__content .box {
  width: 8.125rem;
  height: 6.563rem;
}
.header .image__content .box__number {
  font-family: "PT Mono", serif;
  font-size: 2.5rem;
}
.header .title {
  width: 31.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .title h1 {
  color: #000000;
  font-family: "PT Mono", serif;
  font-size: 4.375rem;
  font-weight: 400;
}
.header .title h2 {
  font-size: 1.875rem;
}
.header .title__box1 {
  width: 6.563rem;
  height: 6.563rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #F1DD7B;
}
.header .title__box2 {
  width: 6.563rem;
  height: 6.563rem;
  position: absolute;
  left: -20px;
  bottom: 20px;
  background-color: #E4572E;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.contact {
  display: flex;
  flex-direction: row;
}
.contact__content {
  width: 100%;
  max-width: 810px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact__content .information {
  width: 300px;
}
.contact__content .information__title {
  font-family: "PT Mono", serif;
  font-size: 1.875rem;
  font-weight: 400;
}
.contact__content .map {
  z-index: 1;
}
.contact__content .map img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.contact__content .box__blue {
  width: 400px;
  height: 200px;
  background-color: #3C91E6;
  position: absolute;
  top: 0;
  right: 0;
}
.contact__image {
  width: 430px;
  position: relative;
}
.contact__image .image__main {
  width: 100%;
  max-width: 430px;
  height: 250px;
}
.contact__image .image__dos {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -10%;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.navbar__brand img {
  max-width: 2rem;
  width: 100%;
}
.navbar__link li {
  display: inline-block;
  list-style: none;
  padding: 0 1em;
}
.navbar__link a {
  text-decoration: none;
  font-family: "PT Mono", serif;
  color: #989797;
  font-size: 1.125rem;
  transition: color 0.5s ease;
}
.navbar__link a:hover {
  color: #454545;
}
.navbar__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.button {
  width: 100%;
  max-width: 12.5rem;
  height: 3.125rem;
  font-family: "PT Mono", serif;
  font-size: 1.125rem;
}
.button__primary {
  flex: 1;
  border: 1px solid #989797;
  padding: 5px;
  background-color: #FFF;
  color: #989797;
  transition: color 0.5s ease, border 0.5s ease;
}
.button__primary:hover {
  color: #454545;
  border: 1px solid #454545;
}
.button__secondary {
  border: none;
  padding: 6px;
  background-color: #4CA866;
  color: #FFF;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.button__secondary:hover {
  color: #454545;
  background-color: #9DCFAB;
}/*# sourceMappingURL=main.css.map */