$contact-max-width: 50.625rem;
$information-width: 18.6rem;
$information-padding: 0 0.3rem;
$image-max-width: 26.875rem;
$image-main-height: 15.625rem;
$image-secondary-width: 6.25rem;
$image-secondary-height: 9.375rem;
$image-secondary-left: -10%;
$map-max-width: 24rem;

.contact {
    display: flex;
    flex-direction: row;

    &__content {
        width: 100%;
        height: auto;
        max-width: $contact-max-width;

        @include flexbox(row, center, center, null);
        position: relative;

        .information {
            width: $information-width;
            height: auto;
            padding: $information-padding;

            &__title {
                font-family: $font-secondary;
                font-size: $font-size-x-large;
                font-weight: 400;
            }
        }

        .map {
            z-index: 1;

            img {
                width: 100%;
                max-width: $map-max-width;
                height: auto;
            }
        }
    }

    &__image {
        width: $image-max-width;
        position: relative;

        .image__main {
            width: 100%;
            max-width: $image-max-width;
            height: $image-main-height;
        }

        .image__secondary {
            width: $image-secondary-width;
            height: $image-secondary-height;
            position: absolute;
            z-index: 1;
            top: 0;
            left: $image-secondary-left;
        }
    }
}