.header{
    width: 100%;
    display: flex;
    flex-direction: row;


    &__image{
        img{
            width: 100%;
            max-width: 900px;
        }
    }

    &__title{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            color: $black;
            font-family: $font-secondary;
            font-size: $font-size-xxx-large;
            font-weight: 400;
           
        }
        h2{
            font-size: $font-size-x-large;
        }
    }
}